In [1]:
import pandas as pd

In [3]:
ser = pd.Series([12,14,16], index = ['bob', 'kyle', 'Sue'])

In [5]:
ser.index

Index(['bob', 'kyle', 'Sue'], dtype='object')

In [6]:
ser['bob']

12

In [13]:
ser.iloc[[0,2]] == ser[[0,2]]

bob    True
Sue    True
dtype: bool

In [14]:
df = pd.DataFrame({'one':pd.Series([100,200,300],['apple', 'ball', 'clock']),'two': pd.Series([111,222,333,4444],['apple','ball','cock', 'cunt'])})
df

         one     two
apple  100.0   111.0
ball   200.0   222.0
clock  300.0     NaN
cock     NaN   333.0
cunt     NaN  4444.0